In [32]:
# !pip install mysql-connector-python
# !pip install nltk
# # nltk.download('stopwords')
# # nltk.download('wordnet')
# # nltk.download('omw-1.4')
# !pip install sqlalchemy
# !pip install pymysql
# !pip install --user --upgrade "git+https://github.com/twintproject/twint.git@origin/master#egg=twint"
# !pip install plotly
# !pip install chart_studio

In [33]:
# !pip install modin

In [34]:
import mysql.connector, twint
import nltk, numpy as np 
import string
from string import punctuation
import re
from mysql.connector import Error
from sqlalchemy import create_engine
import pandas as pd
# import modin.pandas as pd
from nltk.sentiment.vader import SentimentIntensityAnalyzer

from deep_translator import GoogleTranslator

import nest_asyncio
nest_asyncio.apply()

In [35]:
cities = pd.read_csv('au.csv')
cities

,city,lat,lng,country,iso2,admin_name,capital,population,population_proper
0,Sydney,-33.8650,151.2094,Australia,AU,New South Wales,admin,5312163,4840600
1,Melbourne,-37.8136,144.9631,Australia,AU,Victoria,admin,5078193,4529500
2,Brisbane,-27.4678,153.0281,Australia,AU,Queensland,admin,2514184,2360241
3,Perth,-31.9522,115.8589,Australia,AU,Western Australia,admin,2059484,2039200
4,Adelaide,-34.9289,138.6011,Australia,AU,South Australia,admin,1345777,1295714
...,...,...,...,...,...,...,...,...,...
538,Bunyip,-38.0833,145.7170,Australia,AU,Victoria,NaN,2468,2468
539,Dodges Ferry,-42.8539,147.6194,Australia,AU,Tasmania,NaN,2467,2467
540,Lancefield,-37.2667,144.7167,Australia,AU,Victoria,NaN,2455,2455
541,Palm Island,-18.7345,146.5794,Australia,AU,Queensland,NaN,2455,2455
542,Currie,-39.9311,143.8510,Australia,AU,Tasmania,minor,768,768

In [36]:
# Translator object
translated = GoogleTranslator(source='auto', target='en')

# Sentiment analyzer object 
sid = SentimentIntensityAnalyzer()

# # Porter stemmer
# ps = nltk.PorterStemmer()

# # Lemmatizer
# wn = nltk.WordNetLemmatizer()

# Stopword removal
stopword = nltk.corpus.stopwords.words('english')

# Stopword removal
stopword = nltk.corpus.stopwords.words('english')
words = set(nltk.corpus.words.words())

In [37]:
def clean_text(text):
#Removing emojis, symbols, maps, flags etc
    emoji_pattern = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002500-\U00002BEF"  # chinese char
        u"\U00002702-\U000027B0"
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642"
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"  # dingbats
        u"\u3030"
        
    "]+", flags=re.UNICODE)

        
    text = emoji_pattern.sub(r'', text)

    # Lower case
    text = text.lower()
    
    #Removing URLs with a regular expression
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    text = url_pattern.sub(r'', text)

    # Remove Emails
    text =  re.sub('\S*@\S*\s?', '', text) 
    
    # Remove words with numbers and numbers
    text = re.sub('\w*[0-9]\w*\s?', '', text)
    
    # Remove #'s
    text =  re.sub("[$&+,:;=?@#|'<>.^*()%!_-]?", '', text)
    
    # Remove new line characters
    text = re.sub('\s+', ' ', text)
    
    text = re.sub('[^a-zA-z0-9\s]','',text)
    text = re.sub('[0-9]','', text)

    text = re.sub('rt', '', text)


    # Remove distracting single quotes
    text = re.sub("\'", "", text)
    text = re.split('\W+', text)    # tokenization
    
    
    # Stopword removal
    text = [word for word in text if word not in stopword]  # remove stopwords and stemming
    
    
#     # Remove non-english words / sentances
#     text = " ".join(w for w in text if w.lower() in words or not w.isalpha())
    text = ' '.join(text)
    
    # Strip the leading spaces
    text = text.lstrip().rstrip()
    
    if len(text.split()) > 0:
#         text = translated.translate(text)
        return text
    else:
        return np.nan

In [38]:
def translation(parm):
    a = translated.translate_batch(parm)
    
    return a

In [39]:
# def clean_text1(text):
#     text_lc = "".join([word.lower() for word in text if word not in string.punctuation]) # remove puntuation
#     text_rc = re.sub('[0-9]+', '', text_lc)
#     tokens = re.split('\W+', text_rc)    # tokenization
#     text = [wn.lemmatize(ps.stem(word)) for word in tokens if word not in stopword]  # remove stopwords and stemming
#     return text

In [40]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
        host=host_name,
        user=user_name,
        passwd=user_password,
        )
        print("MySQL Database connection successul")
    except Error as err:
        print(f"Error: '{err}'")
    return connection

In [41]:
connection = create_server_connection("localhost", "root", "#Sentiment2022analysis")

MySQL Database connection successul

In [42]:
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")

In [43]:
create_database_sentiment = "CREATE DATABASE HTL_SENTIMENT"
create_database(connection,create_database_sentiment)

Error: '1007 (HY000): Can't create database 'htl_sentiment'; database exists'

In [44]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
        host=host_name,
        user=user_name,
        passwd=user_password,
        database=db_name
        )
        print("MySQL Database connection successul")
    except Error as err:
        print(f"Error: '{err}'")
    return connection

In [45]:
def execute_query(connection, query):
    cursor = connection.cursor(buffered=True)
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")
        pass

In [46]:
pw = "#Sentiment2022analysis"

In [47]:
connection = create_db_connection("localhost", "root", pw, "HTL_SENTIMENT")

MySQL Database connection successul

In [48]:
df = pd.read_sql("SELECT * FROM TWEET;", con=connection)

In [49]:
if df.shape[0] == 0:
    drop_table = """
    DROP TABLE tweet;
    """
    execute_query(connection, drop_table)
    
    
    create_tweet_table = """
    CREATE TABLE tweet (
    id VARCHAR(100),
    original_tweet MEDIUMTEXT NOT NULL,
    tweet MEDIUMTEXT NOT NULL,
    lat DECIMAL(8,5),
    lng DECIMAL(8,5),
    place VARCHAR(50),
    date VARCHAR(50),
    sentiment INT(50),
    PRIMARY KEY (`id`,`date`)
    );
    """
    execute_query(connection, create_tweet_table)

In [50]:

df

,id,original_tweet,tweet,lat,lng,place,date,sentiment
0,1470219245141172224,@melblawyer26 @GiselleWak Perhaps if you had s...,perhaps studied medicine instead law comment w...,-27.6167,152.7667,Queensland,2021-12-13 13:29:18,0
1,1470230849996181504,I'm at Essential Oils &amp; Wellness with Fion...,im essential oils amp wellness fiona californi...,-36.7500,144.2667,Victoria,2021-12-13 14:15:24,0
2,1470305021078081536,@susan_taylor07 Removing franking credits wasn...,removing franking credits wasnt scare campaign...,-27.6167,152.7667,Queensland,2021-12-13 19:10:08,0
3,1470353065857351684,@Hateonions1 Go to your apps &amp; click on th...,go apps amp click service nsw come update opti...,-27.6167,152.7667,Queensland,2021-12-13 22:21:03,0
4,1470359518949167106,@Alannahjoynes @DamoMK @OptusStadium You can l...,link medicare account one state checkin apps r...,-27.6167,152.7667,Queensland,2021-12-13 22:46:41,0
...,...,...,...,...,...,...,...,...
34875,1493982462103662594,Further correlation between Vaccines and death...,fuher correlation vaccines death rate good way,-34.4331,150.8831,New South Wales,2022-02-17 03:15:50,0
34876,1493982483272314883,#covid19 #vaccine by @AndyMarlette https://t....,vaccine maga kag tcot uspoli,-34.4331,150.8831,New South Wales,2022-02-17 03:15:55,0
34877,1493982516012896260,@FromItsa @PinkWug @shoe0nhead @theserfstv Not...,said vaccines offer excellent protection vacci...,-34.4331,150.8831,New South Wales,2022-02-17 03:16:03,1
34878,1493998083012579329,@AnnRoll67123915 @FlavioVolpe1 I am sitting he...,sitting recovering covid fully vaccinated week...,-27.5667,151.9500,Queensland,2022-02-17 04:17:54,0
34879,1494004452864323584,@alisonmah @GetBAC But we were told it's the p...,told protesters violent apparently seems love ...,-36.7500,144.2667,Victoria,2022-02-17 04:43:13,0

In [51]:
engine = create_engine('mysql+pymysql://root:#Sentiment2022analysis@localhost/HTL_SENTIMENT')

In [52]:
from sqlalchemy.dialects.mysql import insert

def insert_on_duplicate(table, conn, keys, data_iter):
    insert_stmt = insert(table.table).values(list(data_iter))
    on_duplicate_key_stmt = insert_stmt.on_duplicate_key_update(insert_stmt.inserted)
    conn.execute(on_duplicate_key_stmt)

In [53]:
import modin.pandas as md

In [54]:
df.date.max()

'2022-02-17 04:43:13'

In [55]:
import time

In [56]:
keywords = ['medicare', 'health', 'omicron', 'medical', 'wellness', 'medicine', 'vaccine']

In [58]:
for i in keywords:
    
    for j in cities.city.values[0:20].tolist():
        print(j)
        c = twint.Config()

        c.Search = i
    #     c.Seacrh = "medicare OR health OR omicron OR medical OR wellness OR medicine OR vaccine"
    #     c.Search = "health" 
        c.Geo = '{},{},300km'.format(cities[cities['city']==j].iloc[0,1],cities[cities['city']==j].iloc[0,2])
        c.Lang = 'en'
        c.Store_object = True
        c.Count = True
        c.Hide_output = True
        c.Since = '2021-12-17'
        c.Until = '2022-02-05'
#         c.Until = '2022-01-09'
        c.Filter_retweets = True
        c.Pandas = True
    #     c.Limit = 10000

        twint.run.Search(c)

        # Sleep time added
        time.sleep(2)

        twint.storage.panda.Tweets_df.place = cities[cities['city']==j].iloc[0,5] 

    #     df = pd.concat([df, twint.storage.panda.Tweets_df])
        df_twint = twint.storage.panda.Tweets_df.copy()
        df_twint['lat'] = cities[cities['city']==j].iloc[0,1]
        df_twint['lng'] = cities[cities['city']==j].iloc[0,2]

        if df_twint.shape[0] > 0:
            df_twint = df_twint.drop_duplicates('tweet')


            df_twint = df_twint[["id", "tweet", "lat", "lng", "place", "date"]]

            df_twint['sentiment_tweet'] = df_twint.tweet.apply(lambda x: clean_text(x))
            df_twint = df_twint.dropna(subset=['sentiment_tweet'])
            df_twint['sentiment_tweet'] = translation(df_twint.sentiment_tweet.values.tolist())

            df_twint['sentiment'] = df_twint['sentiment_tweet'].apply(lambda x: 0 if sid.polarity_scores(x)['compound'] < 0.5 else 1)
            df_twint = df_twint.rename(columns={'tweet': 'original_tweet', \
                                     'sentiment_tweet':'tweet'})[["id","original_tweet","tweet", "lat", "lng", "place", "date", "sentiment"]]
            df = pd.concat([df, df_twint])
            df_twint.to_sql('tweet', con=engine, if_exists='append', index=False, chunksize = 1000, method=insert_on_duplicate)

Sydney
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 20 Tweets.

ERROR:sqlalchemy.pool.impl.QueuePool:Exception during reset or similar
Traceback (most recent call last):
  File "C:\Users\Sai Ram\Anaconda3\lib\site-packages\pymysql\connections.py", line 756, in _write_bytes
    self._sock.sendall(data)
ConnectionAbortedError: [WinError 10053] An established connection was aborted by the software in your host machine

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Sai Ram\Anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 739, in _finalize_fairy
    fairy._reset(pool)
  File "C:\Users\Sai Ram\Anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 988, in _reset
    pool._dialect.do_rollback(self)
  File "C:\Users\Sai Ram\Anaconda3\lib\site-packages\sqlalchemy\engine\default.py", line 669, in do_rollback
    dbapi_connection.rollback()
  File "C:\Users\Sai Ram\Anaconda3\lib\site-packages\pymysql\connections.py", line 479, in rollback
    self._execute_command(COMMAND.COM_QUERY, "ROLLBACK")
  File "C:\Users\Sai Ram\Anaconda3\lib\site-packages\pymysql\connections.py", line 814, in _execute_command
    self._write_bytes(packet)
  File "C:\Users\Sai Ram\Anaconda3\lib\site-packages\pymysql\connections.py", line 760, in _write_bytes
    CR.CR_SERVER_GONE_ERROR, "MySQL server has gone away (%r)" % (e,)
pymysql.err.OperationalError: (2006, "MySQL server has gone away (ConnectionAbortedError(10053, 'An established connection was aborted by the software in your host machine', None, 10053, None))")

Melbourne
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Brisbane
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Perth
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 20 Tweets.
Adelaide
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Gold Coast
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 53 Tweets.
Cranbourne
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Canberra
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 20 Tweets.
Newcastle
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 60 Tweets.
Wollongong
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Geelong
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 40 Tweets.
Hobart
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 10 Tweets.
Townsville
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 16 Tweets.
Ipswich
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 20 Tweets.
Cairns
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 13 Tweets.
Toowoomba
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 53 Tweets.
Darwin
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 29 Tweets.
Ballarat
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 40 Tweets.
Bendigo
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 40 Tweets.
Launceston
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 10 Tweets.
Sydney
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Melbourne
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 40 Tweets.
Brisbane
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 80 Tweets.
Perth
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 20 Tweets.
Adelaide
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Gold Coast
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 80 Tweets.
Cranbourne
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Canberra
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 20 Tweets.
Newcastle
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 20 Tweets.
Wollongong
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 80 Tweets.
Geelong
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Hobart
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Townsville
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Ipswich
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Cairns
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 112 Tweets.
Toowoomba
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 20 Tweets.
Darwin
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 23 Tweets.
Ballarat
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Bendigo
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Launceston
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 20 Tweets.
Sydney
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 20 Tweets.
Melbourne
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Brisbane
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 20 Tweets.
Perth
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 20 Tweets.
Adelaide
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 20 Tweets.
Gold Coast
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Cranbourne
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 40 Tweets.
Canberra
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 40 Tweets.
Newcastle
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Wollongong
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 20 Tweets.
Geelong
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Hobart
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 60 Tweets.
Townsville
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Ipswich
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Cairns
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Toowoomba
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Darwin
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Ballarat
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Bendigo
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Launceston
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Sydney
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 40 Tweets.

Melbourne
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Brisbane
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 39 Tweets.
Perth
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 59 Tweets.
Adelaide
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 60 Tweets.
Gold Coast
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 54 Tweets.
Cranbourne
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 60 Tweets.
Canberra
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 20 Tweets.
Newcastle
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 20 Tweets.
Wollongong
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 40 Tweets.
Geelong
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 20 Tweets.
Hobart
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Townsville
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Ipswich
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 19 Tweets.
Cairns
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Toowoomba
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Darwin
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Ballarat
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 20 Tweets.
Bendigo
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 40 Tweets.
Launceston
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Sydney
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 15 Tweets.
Melbourne
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Brisbane
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Perth
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Adelaide
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 6 Tweets.
Gold Coast
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Cranbourne
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 21 Tweets.
Canberra
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 10 Tweets.
Newcastle
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Wollongong
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Geelong
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Hobart
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Townsville
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Ipswich
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Cairns
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Toowoomba
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Darwin
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Ballarat
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Bendigo
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 21 Tweets.
Launceston
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 9 Tweets.
Sydney
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 20 Tweets.
Melbourne
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 19 Tweets.
Brisbane
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Perth
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Adelaide
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 12 Tweets.
Gold Coast
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 19 Tweets.
Cranbourne
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 35 Tweets.
Canberra
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 40 Tweets.
Newcastle
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 20 Tweets.
Wollongong
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 60 Tweets.
Geelong
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Hobart
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Townsville
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Ipswich
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Cairns
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 5 Tweets.
Toowoomba
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Darwin
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Ballarat
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Bendigo
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 19 Tweets.
Launceston
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Sydney
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 20 Tweets.

Melbourne
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 57 Tweets.
Brisbane
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Perth
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Adelaide
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 20 Tweets.
Gold Coast
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 66 Tweets.
Cranbourne
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 37 Tweets.
Canberra
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 97 Tweets.
Newcastle
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Wollongong
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 19 Tweets.
Geelong
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Hobart
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 20 Tweets.
Townsville
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Ipswich
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 46 Tweets.
Cairns
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Toowoomba
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 66 Tweets.
Darwin
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 20 Tweets.
Ballarat
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Bendigo
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.
Launceston
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
[+] Finished: Successfully collected 0 Tweets.

In [30]:
# df_twint.tweet.apply(lambda x: clean_text(x))
aaa = df.drop_duplicates('tweet')

In [31]:
aaa

,id,original_tweet,tweet,lat,lng,place,date,sentiment
0,1478190197552549890,@david_lunt @FlickReynolds I don't think they ...,dont think still using telephone appointments ...,-37.8136,144.9631,Victoria,2022-01-04 13:23:01,0
1,1478245717319634945,@SpaceKidette I read that the govt removed the...,read govt removed medicare rebate asymptomatic...,-37.8136,144.9631,Victoria,2022-01-04 17:03:38,0
2,1478278968742539271,@abcnews Itâ€™s not free! We pay taxes and and ...,free pay taxes medicare levy lied,-37.8136,144.9631,Victoria,2022-01-04 19:15:45,0
3,1478282700167413760,Remember in 2016 when Labor talked about Medic...,remember labor talked medicare liberals called...,-37.8136,144.9631,Victoria,2022-01-04 19:30:35,0
4,1478292232398512129,If she had the certificate &amp; a Medicare ca...,ceificate amp medicare card cannot refuse entry,-37.8136,144.9631,Victoria,2022-01-04 20:08:28,0
...,...,...,...,...,...,...,...,...
25,1483625384847736832,@beccarala @bruce_haigh @sjb_one Well get your...,well get vaccines least wont die,-12.4381,130.8411,Northern Territory,2022-01-19 13:20:30,1
2817,1491012759718629376,@goodfoodgal Many vaccines can cause myocardit...,many vaccines cause myocarditis pericarditis u...,-37.5500,143.8500,Victoria,2022-02-08 22:35:18,0
2819,1490994675783987202,@truthvsagenda Search Dr Faucie a video where ...,search dr faucie video says vaccine gave made ...,-37.5500,143.8500,Victoria,2022-02-08 21:23:26,0
2840,1489338954729943042,@PriestessCeltic @secretpourpro @i_huffman91 S...,live lifeof hermit fear virus kills take vacci...,-37.5500,143.8500,Victoria,2022-02-04 07:44:12,0
0,1494004452864323584,@alisonmah @GetBAC But we were told it's the p...,told protesters violent apparently seems love ...,-36.7500,144.2667,Victoria,2022-02-17 04:43:13,0

In [ ]:
df.groupby(by=['place']).sum()[['sentiment']]

In [ ]:
# df['date'] = pd.to_datetime(df.date )
# df

In [ ]:
state_df = df.groupby(by=['place', 'sentiment']).count() / df.groupby(by=['place']).count()

In [ ]:
state_df = state_df[['date', 'id', 'lat', 'lng', 'original_tweet', 'tweet']].reset_index()

In [ ]:
state_df[state_df['sentiment']==1]

# Visualization

In [ ]:
# !pip install geopandas fiona
# !pip install shapely
# !conda install geopandas
# import fiona
# !pip install matplotlib
# !pip install fiona
# !pip uninstall geopandas

In [ ]:
# import fiona
import geopandas as gpd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.axes_grid1 import make_axes_locatable
import plotly.graph_objects as go

In [ ]:
gpd.read_file("https://raw.githubusercontent.com/tonywr71/GeoJson-Data/master/australian-states.json")

In [ ]:
# OPTIONAL: Display using geopandas
fig, ax = plt.subplots(1,1, figsize=(20,20))
divider = make_axes_locatable(ax)
tmp = state_df[state_df['sentiment']==1].copy()
tmp['tweet'] = tmp['tweet']*100 #To display percentages
cax = divider.append_axes("right", size="3%", pad=-1) #resize the colorbar
tmp.plot(column='tweet', ax=ax,cax=cax,  legend=True, legend_kwds={'label': "Unemployment rate"})
tmp.geometry.boundary.plot(color='#BABABA', ax=ax, linewidth=0.3) #Add some borders to the geometries
ax.axis('off')

In [ ]:
tmp

In [ ]:
!where python